################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
/.vs/Weight Watchers/FileContentIndex/read.lock
*.vsidx
*.v1
